@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

$color-white: #ffffff;
$color-gray: #d8d8d8;
$color-khaki: #F4F1EA;
$color-green: #00635D;
$color-brown: #382110;
$color-light: #f9f7f4;
$font-main: 'Roboto', sans-serif;

// lato, helvetica, sans serif